{% extends 'base.html.twig' %}

{% block title %}Files index{% endblock %}

{% block body %}

<h1>Files index</h1>

<div><a href="{{ path('file_new') }}">Upload a file</a></div>

<br>

<ul>
    <li>File</li>
</ul>

{% endblock %}
